<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Back Office!</title>
</head>
<body>
    <h3>Dear {{NAME}},</h3>
    <p>You can enter Back Office the following</p>
    <p><b>Login:</b> {{LOGIN}}</p>
    <p>and</p>
    <p><b>Password:</b> {{PASSWORD}}</p>

    <p>Yours faithfully,<br/>
       Back Office Team</p>
</body>
</html>